/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.heading-main{
display: flex;
justify-content: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #333;
}

.task-list {
  list-style: none;
  padding: 0;
}
.task-item {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item span {
  flex-grow: 1;
  color: #333;
}

.task-item button {
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  margin-left: 5px;
  transition: background-color 0.3s;
}

.task-item button:hover {
  background-color: #c0392b;
}

.task-item input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

.task-item .edit-buttons {
  display: flex;
}

.task-item .edit-buttons button {
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  margin-left: 5px;
  transition: background-color 0.3s;
}

.task-item .edit-buttons button:hover {
  background-color: #27ae60;
}

.task-item button {
  margin-left: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.task-item button:hover {
  background-color: #2980b9;
}

.task-form {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 800px; */
}

.task-form input {
  flex-grow: 0.1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

.task-form button {
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.task-form button:hover {
  background-color: #27ae60;
}



.filter-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.filter-buttons button {
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.filter-buttons button:hover {
  background-color: #c0392b;
}
